<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>About</title>
</head>
<body>
    <div style="width: 100%; overflow: hidden;">
        <div style="width: 280px; float: left;">
            <h1>HCM</h1>
            <p style="font-size:10px;padding-left:16px;">User logged in: <b>{{request.cookies.get('hcm')}}</b>.</p>
            <ul>
                <li><a href="/employees">Employees</a></li>
                <li><a href="/upsert-employee">Add Employee</a></li>
                <li><a href="/admin">Administration</a></li>
                <li><a class="active" href="/about">About</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
        </div>
        <div style="margin-left: 300px;margin-top: 80px;width:800px;">
            {% autoescape false %}
            {%for i in range(0, len)%}
            {{content[i]}}
            {%endfor%}
            {% endautoescape %}
        </div>
</div>
</body>
</html>