<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <style>
        th, td {
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 4px;
            padding-right: 4px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th{
            background-color: black;
            color: white;
        }
    </style>
    <title>Employees Listing</title>
</head>
<body>
    <div style="width: 100%; overflow: hidden;">
        <div style="width: 280px; float: left;">
            <h1>HCM</h1>
            <p style="font-size:10px;padding-left:16px;">User logged in: <b>{{request.cookies.get('hcm')}}</b>.</p>
            <ul>
                <li><a class="active" href="/employees">Employees</a></li>
                <li><a href="/upsert-employee">Add Employee</a></li>
                <li><a href="/admin">Administration</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
        </div>
        <div style="margin-left: 300px;margin-top: 80px;">
            <h2>Employees List</h2>
    <form action="{{ url_for('employees') }}" method="post">
        <input type="text" id="search_term" 
            name="search_term"
            size = "30"
            placeholder="Search by first and last name" 
            value = "{{ search_term }}">
        <button type="submit" id="searchButton">Search</button>
        <br/><br/>
        <table border="0" cellspacing="0" cellpadding="0" style="border: none;">
            <tr>
                <td style="border: none;">
                    <label for="status_filter">Filter by Status:</label>
                </td>
                <td style="border: none;">
                    <select name = "status_filter" onchange="this.form.submit()">
                        <option selected value> -- All -- </option>
                        {%for i in range(0, statuses_len)%}
                        <option value="{{statuses[i][0]}}"
                            {% if statuses[i][0] == status_filter | int %}
                            SELECTED
                            {% endif %}>
                        {{statuses[i][1]}}</option>
                        {%endfor%}
                    </select>
                </td>
            </tr>
            <tr>
                <td style="border: none;">
                    <label for="order_by">Order by:</label>
                </td>
                <td style="border: none;">
                    <select name = "order_by" onchange="this.form.submit()">
                        <option selected value> -- None -- </option>
                        <option value="0"
                            {% if order_by == "0" %}
                            SELECTED
                            {% endif %}>
                        Most Experienced</option>
                        <option value="1"
                            {% if order_by == "1" %}
                            SELECTED
                            {% endif %}>
                        Least Experienced</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
    <br/>
    <table border="1">
            <tr>
                <th>Id</th><th>First Name</th><th>Last Name</th><th>Title</th><th>Status</th><th>Reports To</th><th>Phone</th><th>Date of Birth</th><th>Date of Joining</th><th>Years Completed</th><th>&nbsp;</th><th>&nbsp;</th>
            </tr>
            {%for i in range(0, len)%}
            <tr>
                {% set id = namespace(value=0) %}
                {% set terminated = namespace(value=0) %}
                {% for field in employees[i] %}
                    {% if loop.index == 1 %}
                    {% set id.value = field %}
                    <td><a href="/upsert-employee?id={{field}}">{{field}}</a></td>
                    {% elif loop.index == 2 and search_term %}
                    {% autoescape false %}
                    <td>{{field | replace(search_term, '<mark>' ~ search_term ~ '</mark>') }}</td>
                    {% endautoescape %}
                    {% elif loop.index == 3 and search_term %}
                    {% autoescape false %}
                    <td>{{field | replace(search_term, '<mark>' ~ search_term ~ '</mark>') }}</td>
                    {% endautoescape %}
                    {% else %}
                    <td>{{field or ''}}</td>
                    {% endif %}

                    {% if loop.index == 5 and field == 'Leaver' %}
                    {% set terminated.value = 1 %}
                    {% endif %}
                {%endfor%}
                <td><a href="/delete-employee?id={{id.value}}">Delete</a></td>
                {% if terminated.value == 0 %}
                <td><a href="/terminate-employee?id={{id.value}}">Terminate</a></td>
                {% else %}
                <td>&nbsp;</td>
                {% endif %}
            </tr>
            {%endfor%}
    </table>
    <br/>
    <button onclick="location.href='/upsert-employee'" type="button">Create Employee</button>
    <br/><br/>
</div>
</div>
</body>
</html>