<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employees Listing</title>
</head>
<body>
    <form action="{{ url_for('employees') }}" method="post">
        <input type="text" id="search_term" 
               name="search_term"
               size = "30"
               placeholder="Search by first and last name" 
               value = "{{ search_term }}"
               >
        <button type="submit" id="searchButton">
              Search
          </button>
    </form>
    <br/>
    <table border="1">
            <tr>
                <td>Id</td><td>First Name</td><td>Last Name</td><td>Status</td><td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            {%for i in range(0, len)%}
            <tr>
                {% set id = namespace(value=0) %}
                {% for field in employees[i] %}
                    {% if loop.index == 1 %}
                    {% set id.value = field %}
                    <td><a href="/upsert-employee?id={{field}}">{{field}}</a></td>
                    {% elif loop.index == 2 and search_term %}
                    {% autoescape false %}
                    <td>{{field | replace(search_term, '<mark>' ~ search_term ~ '</mark>') }}</td>
                    {% endautoescape %}
                    {% elif loop.index == 3 and search_term %}
                    {% autoescape false %}
                    <td>{{field | replace(search_term, '<mark>' ~ search_term ~ '</mark>') }}</td>
                    {% endautoescape %}
                    {% else %}
                    <td>{{field}}</td>
                    {% endif %}
                {%endfor%}
                <td><a href="/delete-employee?id={{id.value}}">Delete</a></td>
                <td><a href="/terminate-employee?id={{id.value}}">Terminate</a></td>
            </tr>
            {%endfor%}
    </table>
    <br/>
    <a href="/upsert-employee">Create Employee</a>
</body>
</html>